#login {
	margin: 1rem;
}

#login h1 {
	text-align: center;
}

#login form button:active,
#login .pressed {
	background-color: #000;
	border: 1px solid #000;
	color: #fafafa;	
}

#login fieldset,
#login .login-options {
	max-width: 500px;
	margin: 2rem auto;
	display: grid;
	grid-gap: 1rem;
}

#login .login-options {
	grid-template-columns: 1fr 1fr;
}


#login fieldset {
	grid-template-columns: 1fr;
}

#login .form-email,
#login .form-pass {
	margin: 1rem auto;
	max-width: 500px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1rem;
	align-items: center;
}

#login form button {
	margin: 1rem;
}