#purchase {
	margin: 1rem;
}

#purchase h2,
#purchase h1 {
	text-align: center;
}

#purchase form button:active,
#purchase .pressed {
	background-color: #000;
	border: 1px solid #000;
	color: #fafafa;	
}

#purchase fieldset {
	max-width: 500px;
	margin: 2rem auto;
	display: grid;
	grid-gap: 1rem;
}

#purchase .purchase-options {
	grid-template-columns: 1fr 1fr;
}

#purchase fieldset {
	grid-template-columns: 1fr;
	padding: 1rem;
}

#purchase .form-quant,
#purchase .form-date {
	margin: auto;
	padding-bottom: 1rem;
	max-width: 500px;
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-gap: 1rem;
	align-items: center;
}

#purchase p {
	text-align: center;
	margin: 1rem auto;
}

#purchase form fieldset button {
	margin: auto;
}